* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
}

.form-container {
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 300px;
  align-items: center;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(241, 241, 241);
  border-radius: 10%;
}

label {
  margin: 10px;
}
input {
  margin-bottom: 10px;
}
button {
  border-radius: 10px;
  background-color: rgb(2, 139, 230);
  border: 1px solid black;
  cursor: pointer;
}
button:hover {
  background-color: rgb(177, 177, 177);
}
